################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CecilioNolenAuditReview/CecilioNolenAuditReview/CecilioNolenAuditReview/bin/*
/CecilioNolenAuditReview/CecilioNolenAuditReview/CecilioNolenAuditReview/obj/*