################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CecilioNolenAuditReview/CecilioNolenAuditReview/CecilioNolenAuditReview/obj/Release/CecilioNolenAuditReview.csproj.CoreCompileInputs.cache
